h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #6B5B95;
    text-align: center;
    font-size: 75px;
}

#heading2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #031c8e;
    margin-left: 30px
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(16, 2, 82);
    border: none;
    border-radius: 12px;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
    margin-left: 50px;
}

a {
    font-size: 30px;
}

.green {
    color: rgba(3, 116, 3, 0.625);
}

.yellow {
    color: rgb(136, 136, 5);
}

.white {
    color: rgb(219, 242, 10);
}

.blue {
    color: rgb(11, 80, 170);
}

.brown {
    color: rgb(107, 4, 4);
}

.orange {
    color: rgba(52, 182, 8, 0.575)
}


body {
    background-image: url("https://64.media.tumblr.com/tumblr_lmdzx0YxPU1qehmh1o1_500.gifv");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#para1 {
    color: rgb(15, 184, 196);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 30px;
    font-size: 25px;
    margin-bottom: 0;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
    text-decoration: none;
    font-size: 20px;
}

.container {
    margin-top: 10px;
}

.heading1 {
    font-size: 23vh;
    color: white;
    margin: 0;
    margin-left: 50px;
}

#head2 {
    margin-bottom: 30px;

}
